:root {
  --background-color: #1c4586;
  --border: 3px solid #03080f;
}

body {
  margin: 0;
  min-height: 100vh;
  color: #03080f;
  line-height: 1.5em;
  font-size: 16px;
}
.coolsite {
  color: #ebf2fd;
  background-color: var(--background-color);
  font-size: 25px;
  text-align: center;
  padding: 2.5rem;
  border: var(--border);
  font-family: "Bebas Neue", cursive;
  font-size: 5vw;
  line-height: 1;
}

.designer-title {
  font-size: 4vw;
  line-height: 0.85;
  margin: 1em;
}

.title-container {
  text-align: center;
}

.information {
  width: 65%;
  padding: 3rem;
  margin-top: 3rem;
}

.information p {
  padding: 0 3rem;
}

.article-section {
  flex-wrap: var(--background-color);
  width: 21%;
  padding: 8rem 2rem 2rem;
}

.article {
  padding: 4rem 0;
}

.article-image {
  width: 100%;
}

h3.title {
  font-size: 28px;
  margin: 1rem 0 0.5rem;
}

.designer-description {
  display: flex;
  flex-wrap: wrap;
}
.empty {
  height: 2rem;
  background: rgb(163, 166, 189);
  background: linear-gradient(
    90deg,
    rgba(163, 166, 189, 1) 0%,
    rgba(112, 146, 215, 1) 50%,
    rgba(163, 166, 189, 1) 100%
  );
}

.footer {
  height: 8rem;
  background-color: var(--background-color);
  border: var(--border);
}

.bord-1 {
  border-radius: 3px;
}

p.has-dropcap:first-letter {
  margin: 0 3px;
  color: rgb(255, 123, 0);
  font-size: 300%;
  line-height: 1;
  float: left;
}
